---
---

@import "{{ site.theme }}";

.page-header {
  background-image: initial;
  background-color: #0098D4FF;
}

.project-name, .project-tagline { /* TITLE */
  color: #eee !important;
}

h1, h2, h3, h4, h5 {
  color: #0098D4FF !important;
}

@media screen and (min-width: 72em) {
  .main-content {
    max-width: 72rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.05rem;
  }
}
pre.code {
  white-space: pre-wrap;
}
pre.code::before {
  counter-reset: listing;
}
pre.code code {
  counter-increment: listing;
}
pre.code code::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 8em;         /* now works */
  padding-left: auto; /* now works */
  margin-left: auto;  /* now works */
  text-align: right;  /* now works */
}
