---
---

@import "{{ site.theme }}";


.custom-page-header {
  
}


.page-header {
  background-image: url('../favicon.svg') !important;
  background-repeat: no-repeat;
  background-size: 100px;
  background-color: black;
  background-position-y: 15px;
  background-position-x: 135px;
  padding: 2rem 1rem;
  text-align: left;


  .project-name, .project-tagline { /* TITLE */
    color: #eee !important;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 250px;
  }

  a {
    display: none;
  }
}

h1.project-name
{
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
  color: #0098D4FF !important;
}

@media screen and (min-width: 72em) {
  .main-content {
    max-width: 72rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.05rem;
  }
}
pre.highlight {
  white-space: pre-wrap;
}
pre.highlight::before {
  counter-reset: listing;
}
pre.highlight code {
  counter-increment: listing;
}
pre.highlight code::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 8em;         /* now works */
  padding-left: auto; /* now works */
  margin-left: auto;  /* now works */
  text-align: right;  /* now works */
}
