---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('../favicon.svg') !important;
  background-repeat: no-repeat;
  background-size: 100px;
  background-color: #029edb;
  background-position-y: 15px;
  background-position-x: calc(50% - 15rem);
  border-bottom: 1px solid #3f7cea;
  padding: 2rem 1rem;
  text-align: left;


  .project-name, .project-tagline { /* TITLE */
    color: #fff !important;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: calc(50% - 10rem);
    text-shadow: 1px 1px #1656a7;
  }
  .project-tagline {
    opacity: 0.85;
  }

  a {
    display: none;
  }
}

h1.project-name
{
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
  color: #0098D4FF !important;
}

a {
  text-decoration: underline !important; 
}

.main-content table th, .main-content table td
{
  border: 1px solid #d8d9da;
}
.main-content code {
  background-color: #ecf5ff;
  color: #106790;
}

@media screen and (min-width: 72em) {
  .main-content {
    max-width: 72rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.05rem;
  }
}
